<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.ghui.workflow.shanbay</string>
	<key>category</key>
	<string>Study</string>
	<key>connections</key>
	<dict>
		<key>1D4312B0-234C-4733-8055-F650F28A3744</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BCA85BC1-9E60-451E-8812-260C06194864</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>24D66167-A184-4CA3-BF69-EFA1063DE87D</key>
		<array/>
		<key>28873CCB-B63D-49E5-9390-A552D40A6417</key>
		<array/>
		<key>3769045F-0AF3-4C83-8265-68ECF9B1FD71</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>24D66167-A184-4CA3-BF69-EFA1063DE87D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>503C9F01-3D88-4C43-B21E-F93970ADE7C1</key>
		<array/>
		<key>BCA85BC1-9E60-451E-8812-260C06194864</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8FE3BA8-27E5-4B8E-8B3A-E856C4DDC190</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>在扇贝中查看</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>503C9F01-3D88-4C43-B21E-F93970ADE7C1</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>28873CCB-B63D-49E5-9390-A552D40A6417</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>ghui</string>
	<key>description</key>
	<string>workflow for shanbay.com</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>iShanbay</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https:/www.shanbay.com/bdc/vocabulary/{query}/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E8FE3BA8-27E5-4B8E-8B3A-E856C4DDC190</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>3</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>F</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1D4312B0-234C-4733-8055-F650F28A3744</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python shanbay.py 1 "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>503C9F01-3D88-4C43-B21E-F93970ADE7C1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>{var:key_trigger}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>查询中...</string>
				<key>script</key>
				<string>python shanbay.py 0 "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>输入单词查询</string>
				<key>title</key>
				<string>扇贝单词</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BCA85BC1-9E60-451E-8812-260C06194864</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python shanbay.py 2 "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>28873CCB-B63D-49E5-9390-A552D40A6417</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sauth</string>
				<key>subtext</key>
				<string>粘贴授权成功回调网址，授权后可以添加单词、显示笔记等。</string>
				<key>text</key>
				<string>扇贝网授权</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3769045F-0AF3-4C83-8265-68ECF9B1FD71</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>python shanbay.py 3 "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>24D66167-A184-4CA3-BF69-EFA1063DE87D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>一个利用扇贝网API查词/记生词的 Alfred3 Workflow 插件。

功能
### v0.5.0
查词
添加生词到扇贝
发音
显示例句
显示笔记
除此之外，

自动更新
高度可定制（默认情况下只会显示一条例句、三条笔记，你可以自己方便的定制这些）

###
具体使用及设置方法请参照这里： 
https://ghui.me/post/2017/01/ishanbay/
###

### v0.5.1
增加 control-f Hotkey，直接查询系统选中词或调出查询窗口。</string>
	<key>uidata</key>
	<dict>
		<key>1D4312B0-234C-4733-8055-F650F28A3744</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>24D66167-A184-4CA3-BF69-EFA1063DE87D</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>28873CCB-B63D-49E5-9390-A552D40A6417</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>添加到生词本</string>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>3769045F-0AF3-4C83-8265-68ECF9B1FD71</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>授权</string>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>503C9F01-3D88-4C43-B21E-F93970ADE7C1</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>发音</string>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>BCA85BC1-9E60-451E-8812-260C06194864</key>
		<dict>
			<key>note</key>
			<string>查词</string>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>E8FE3BA8-27E5-4B8E-8B3A-E856C4DDC190</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>在扇贝网查看</string>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>key_trigger</key>
		<string>,</string>
		<key>max_example_num</key>
		<string>1</string>
		<key>max_note_num</key>
		<string>3</string>
	</dict>
	<key>version</key>
	<string>0.5.0</string>
	<key>webaddress</key>
	<string>https://ghui.me/post/2017/01/ishanbay/</string>
</dict>
</plist>
